NODE_ENV=development

PRODUCER_PORT=3000
CONSUMER_PORT=3001

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=events.exchange
RABBITMQ_ROUTING_KEY=events.notification
RABBITMQ_QUEUE=events.notification.queue
RABBITMQ_RETRY_QUEUE=events.notification.retry.queue
RABBITMQ_DLQ=events.notification.dlq
RABBITMQ_PREFETCH=5

MAX_RETRY_ATTEMPTS=3
RETRY_DELAY_MS=5000

TELEGRAM_BOT_TOKEN=replace-with-token
TELEGRAM_DEFAULT_CHAT_ID=replace-with-chat-id
