NODE_ENV=development

PRODUCER_PORT=3000
CONSUMER_PORT=3001

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=events.exchange
RABBITMQ_ROUTING_KEY=events.notification
RABBITMQ_QUEUE=events.notification.queue
RABBITMQ_RETRY_QUEUE=events.notification.retry.queue
RABBITMQ_DLQ=events.notification.dlq
RABBITMQ_CONNECTION_ATTEMPTS=10
RABBITMQ_CONNECTION_RETRY_DELAY_MS=1000
RABBITMQ_PREFETCH=5

MAX_RETRY_ATTEMPTS=3
RETRY_DELAY_MS=5000

TELEGRAM_BOT_TOKEN=8619575798:AAFCaPIw9dKXVoOOY_6xkPhCS12htUuuPaQ
TELEGRAM_DEFAULT_CHAT_ID=1706334802
TELEGRAM_MAX_RETRY_ATTEMPTS=3
TELEGRAM_RETRY_DELAY_MS=500

IDEMPOTENCY_TTL_MS=86400000
IDEMPOTENCY_CLEANUP_INTERVAL_MS=60000
